Repository abadr99/cpp_mcu_interface, pull requests merged in 2023-12, with the labels that each got.

#3 Initial support for building(@abadr99)
  .gitignore
  Makefile
  avr.mk
  main.cpp
  mcal/inc/gpio.hpp
  mcal/src/gpio.cpp
  modules.in
  scripts/Trailing-remove.py
  scripts/doxygen/doxygen.sh
  scripts/setup.sh
  scripts/style-checking/extractDef.py
  scripts/style-checking/rules-description.txt
  scripts/style-checking/rules-scripts/scripts/rules/B001.tcl
  scripts/style-checking/rules-scripts/scripts/rules/B002.tcl
  scripts/style-checking/rules-scripts/scripts/rules/B003.tcl
  scripts/style-checking/rules-scripts/scripts/rules/B004.tcl
  scripts/style-checking/rules-scripts/scripts/rules/CMakeLists.txt
  scripts/style-checking/rules-scripts/scripts/rules/DUMP.tcl
  scripts/style-checking/rules-scripts/scripts/rules/F001.tcl
  scripts/style-checking/rules-scripts/scripts/rules/F002.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L001.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L002.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L003.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L004.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L005.tcl
  scripts/style-checking/rules-scripts/scripts/rules/L006.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T001.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T002.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T003.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T004.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T005.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T006.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T007.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T008.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T009.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T010.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T011.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T012.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T013.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T014.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T015.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T016.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T017.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T018.tcl
  scripts/style-checking/rules-scripts/scripts/rules/T019.tcl
  scripts/style-checking/style-check.sh
  scripts/testing/run-all-regressions.sh
  scripts/testing/run-regressions.py
  scripts/testing/run-regressions.sh
  scripts/testing/run-simu-avr.sh
  tools.mk
Labels: build

#6 Initial support for CI system
  .github/workflows/ci.yml
  main.cpp
  regressions/register/main.cpp
  scripts/github/AvrCompilerSetup.sh
  scripts/github/SimulavrSetup.sh
  scripts/github/VeraSetup.sh
  scripts/style-checking/style-check.sh
  utils/inc/helpers.h
  utils/inc/register.h
  utils/inc/test.h
Labels: CI

#9 fixing regressions'script
  scripts/testing/run-all-regressions.sh
  scripts/testing/run-regressions.sh
Labels: bug

#11 Restructure testing system (@abadr99)
  scripts/testing/run-all-regressions.sh
  scripts/testing/run-regressions.py
  scripts/testing/run-regressions.sh
  tests/integration/register/main.cpp
  tests/integration/register/results.expected
Labels: test

#10 Support GPIO interface (@abadr99)
  .gitignore
  Makefile
  avr.mk
  main.cpp
  mcal/inc/atmega32.h
  mcal/inc/gpio.h
  mcal/inc/gpio.hpp
  mcal/src/gpio.cpp
  scripts/style-checking/style-check.sh
  tests/hardware/gpio/basic_test.cpp
  tests/integration/register/main.cpp
  utils/inc/register.h
  utils/src/register.cpp
Labels: mcal, new-feature

#12 adding gpio test
  tests/integration/gpio/main.cpp
  tests/integration/gpio/results.expected
Labels: test

#13 adding a function that prints the binary of a number
  tests/integration/gpio/main.cpp
  tests/integration/gpio/results.expected
  utils/inc/test.h
Labels: enhancement

#16 Supporting basic gpio output devices (@abadr99)
  Notes.md
  hal/inc/GpioDeviceInterface.h
  hal/inc/Led.h
  hal/src/GpioDeviceInterface.cpp
  hal/src/Led.cpp
  mcal/inc/Atmega32.h
  mcal/inc/Gpio.h
  mcal/src/Gpio.cpp
  modules.in
  tests/hardware/gpio/basic_test.cpp
  tests/integration/gpio/main.cpp
  tests/integration/register/main.cpp
  utils/inc/Helpers.h
  utils/inc/Register.h
  utils/inc/Test.h
  utils/src/Register.cpp
Labels: hal

#18 Updating compile-hardware-test rule in Makefile to generate .hex (@Mariamahmed44, @abadr99)
  Makefile
Labels: enhancement

#17 Adding HW test for led (@Mariamahmed44, @abadr99 )
  tests/hardware/led/led_1.cpp
Labels: test

#15 Testing GPIO in real hardware (@Mariamahmed44 , @abadr99 )
  tests/hardware/gpio/basic_test_2.cpp
Labels: test

#20 Support Basic Input Device (@abadr99)
  hal/inc/GpioDeviceInterface.h
  hal/inc/Ir.h
  hal/inc/Led.h
  hal/src/GpioDeviceInterface.cpp
  hal/src/Ir.cpp
Labels: hal

#22 Adding integration test for led (@Mariamahmed44 , @abadr99)
  tests/integration/led/main.cpp
  tests/integration/led/results.expected
Labels: test
