Repository abadr99/cpp_mcu_interface, pull requests merged in 2024-01, with the labels that each got.

#25 Fixing bug while using more than one pin with OutputDeviceInterface issue-24 (@Mariamahmed44, @abadr99)
  hal/inc/GpioDeviceInterface.h
  hal/src/GpioDeviceInterface.cpp
  main.cpp
  scripts/style-checking/style-check.sh
Labels: bug

#21 Improve Explicit Template Instantiation (@abadr99)
  hal/src/Led.cpp
  mcal/inc/Atmega32.h
  mcal/src/Gpio.cpp
Labels: enhancement

#26 ADC Support (@abadr99)
  Makefile
  main.cpp
  mcal/inc/Adc.h
  mcal/inc/Atmega32.h
  mcal/src/Adc.cpp
  mcal/src/Gpio.cpp
  modules.in
  tests/hardware/adc/adc.cpp
  tests/integration/register/main.cpp
  tests/integration/register/results.expected
  utils/inc/Register.h
  utils/src/Register.cpp
Labels: mcal, new-feature

#28 LM35 temperature sensor interface(@abadr99)
  hal/inc/Lm35.h
  hal/src/Lm35.cpp
  modules.in
  utils/inc/Helpers.h
Labels: hal

#32 Adding ADC regression test and fix issues (@Mariamahmed44, @abadr99 )
  mcal/inc/Adc.h
  mcal/src/Adc.cpp
  tests/integration/adc/main.cpp
  tests/integration/adc/results.expected
Labels: test, mcal

#33 Fix Interrupt In ADC (@abadr99)
  mcal/inc/Adc.h
  mcal/src/Adc.cpp
Labels: bug

#30 Support USART Interface(@abadr99)
  .gitignore
  mcal/inc/Atmega32.h
  mcal/inc/Usart.h
  mcal/src/Adc.cpp
  mcal/src/Gpio.cpp
  mcal/src/Usart.cpp
  modules.in
  scripts/testing/run-regressions.sh
  tests/integration/register/main.cpp
  tests/integration/register/results.expected
  tests/integration/utils/main.cpp
  tests/integration/utils/results.expected
  utils/inc/Helpers.h
  utils/inc/Register.h
  utils/inc/Test.h
  utils/src/Register.cpp
Labels: mcal

#36 Add new CI stage to compile hardware tests
  .github/workflows/ci.yml
  scripts/github/CompileHardwareTests.sh
  tests/hardware/adc/adc.cpp
  tests/hardware/gpio1/gpio1.cpp
  tests/hardware/gpio2/gpio2.cpp
  tests/hardware/led/led.cpp
Labels: enhancement, CI

#40 Refactor GPIO tests ( @Mariamahmed44 , @abadr99)
  tests/hardware/InputOutputInteraction/InputOutputInteraction.cpp
  tests/integration/gpio/main.cpp
Labels: test

#42 Refactor adc regression test + solving issue #41
  mcal/inc/Adc.h
  tests/integration/adc/main.cpp
Labels: test, fixed
