Repository abadr99/cpp_mcu_interface, pull requests merged in 2024-02, with the labels that each got.

#43 refactoring usart integration test (@Mariamahmed44, @abadr99)
  mcal/inc/Usart.h
  mcal/src/Usart.cpp
  tests/integration/usart/main.cpp
Labels: test

#47 LCD Support (@abadr99)
  hal/inc/GpioDeviceInterface.h
  hal/inc/Lcd.h
  hal/src/GpioDeviceInterface.cpp
  hal/src/Lcd.cpp
  modules.in
  utils/inc/Math.h
Labels: hal

#48 Support external interrupts(@abadr99)
  mcal/inc/Atmega32.h
  mcal/inc/ExternalInterrupt.h
  mcal/src/ExternalInterrupt.cpp
  modules.in
  results.bm
Labels: mcal

#52 Uart hw test
  mcal/src/Usart.cpp
  tests/hardware/usart/usart.cpp
Labels: test, fixed

#51 LCD HW test for 8-bit mode
  hal/src/Lcd.cpp
  tests/hardware/lcd/lcd.cpp
Labels: test

#49 Adding HW test for EXTI0(@Mariamahmed44, @abadr99 + resolving some is…
  mcal/src/ExternalInterrupt.cpp
  tests/hardware/exti/exti.cpp
Labels: bug, question, test, mcal

#55 Adding SPI driver (@Mariamahmed44, @abadr99)
  mcal/inc/Spi.h
  mcal/src/Spi.cpp
  modules.in
Labels: mcal
